body {
	height: 100%;
	margin: 25;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 40px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: MediumBlue;
}

h2 {
	font-size: 25px;
	color: LightCoral
}


footer {
  background-color: LightCoral;
  padding: 20px;
  color: RoyalBlue;
  height: 500px;
  width: 100%;
  text-align: left;
}

#footer {
  font-size: 33px;
  color:RoyalBlue;
  height:100px;



.hero {
	padding: 300px 0;
	margin: 37px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxkeIucQmW3fOkOHR2LHXuZh_il9TXeVa_17Kf4LTP7BYyqBmp&usqp=CAU");
  background-size: cover;
  color: #6ee5fe
}


p {font-size: 20px;color:OrangeRed

}
#footer {font-size: 33px;

}
.hero a {
	color: Peru;
	font-size: 25px;
	text-decoration: none;
}
