body {
	height: 100%;
	margin: 25;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 40px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: rgb(34, 0, 156);
}

h2 {
	font-size: 33px;
}


.hero {
	padding: 300px 0;
	margin: 37px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxkeIucQmW3fOkOHR2LHXuZh_il9TXeVa_17Kf4LTP7BYyqBmp&usqp=CAU");
  background-size: cover;
  color: #6ee5fe
}


p {font-size: 33px;

}
#footer {font-size: 33px;

}
.hero a {
	color: #00FFAA;
	font-size: 34px;
	text-decoration: none;
}
