/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: MidnightBlue;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: Teal;
  padding: 20px;
  color: MidnightBlue;
}

.carousel-inner img {
  object-fit cover: cover;
  width: 100%; /* Set width to 100% */
  margin: auto;
  max-height:450px;
  color: MidnightBlue
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}



body {
	height: 100%;
	margin: 25;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 40px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: MediumBlue;
}

h2 {
	font-size: 25px;
	color: LightCoral
}


.hero {
	padding: 300px 0;
	margin: 37px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxkeIucQmW3fOkOHR2LHXuZh_il9TXeVa_17Kf4LTP7BYyqBmp&usqp=CAU");
  background-size: cover;
  color: #6ee5fe
}


p {font-size: 20px;color:Black

}
#footer {
  font-size: 33px;
  color:Blue; 
  height:100px;

}
.hero a {
	color: Peru;
	font-size: 25px;
	text-decoration: none;
}
